{% extends "../base.html" %}

{% block head_supplement %}
<style>
.edit-object th{
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}
.edit-object input{
	border: 1px solid #14AC00;
	width: 400px;
}
.edit-object textarea{
	border: 1px solid #14AC00;
	height: 400px;
	width: 850px;
}
</style>
<script type="text/javascript">
isCtrl = false;
document.onkeyup=function(e){
	if(e.which == 17) isCtrl=false;
}
document.onkeydown=function(e){
	if(e.which == 17) isCtrl=true;
	if(e.which == 83 && isCtrl == true) {
		document.editform.submit();
		return false;
	}
}
</script>
{% endblock %}

{% block container_type %}dynamic-width{% endblock %}

{% block headline %}
	edit {{identifier}}
{% endblock %}

{% block content %}
	{% if success %}
		<div class="success-message">Object Saved Successfully</div>
	{% endif %}
	{% if failure %}
		<div class="failure-message">Error Saving Object</div>
	{% endif %}

	{% if object.is_saved %}
		<div>last updated: {{object.date_last_edited|date:"r"|lower}}</div>
	{% endif %}
	<form method="post" name="editform">
		<table class="edit-object">
		{{object_form}}
		</table>
		{% if object.is_saved %}
		<input type="hidden" name="key" value="{{ object.key }}"/>
		{% endif %}
		<input type="submit" value="save object"/>
	</form>
{% endblock %}
