{% extends "../base.html" %}

{% block headline %}stories on mkomo.com{% endblock %}

{% block content %}
	<div><a href="/admin/stories/edit">add a new story</a></div>
	<table>
	{% for story in stories %}
	    <tr>
	    	<td>{{ story.headline }}</td>
	    	<td>
		    	<a href="/admin/stories/edit?key={{ story.key }}">[edit]</a>
		    	<a href="/admin/stories/delete?key={{ story.key }}"
		    		onclick="return confirm('are you sure?')">[delete]</a>
		    </td>
	    </tr>
	{% endfor %}
	</table>
{% endblock %}
