body {
	font-family: Verdana, Helvetica, sans-serif;
	background: #14ac00 url(/static/img/background.png) repeat scroll 50% 19px
}
/*container (width restriction)*/
.container{
	margin: 10px auto;
}
.container.fixed-width{
	width: 46em;	
}
.container.dynamic-width{
	width: 95%;	
}

/*page header*/
.header {
	margin: 0 10px 2px 10px;
	padding: 0;
}
.header .title{
	font-size: 4em;	
	color: #0f3f09;
	display: block;
	width: 400px;
	height: 80px;
	text-decoration: none;
}
.header .title img{
	border: 0;
}
.header .nav{
	float: right;
	background-color: rgba(179,243,171,0.8);
	margin: 15px 0 0 0;
	padding: 5px 15px 5px 15px;
	font-size: 1.8em;
}
.header .nav span.selected{
	font-weight: bold;
}
.header .nav a{
	color: #0f3f09;
	text-decoration: none;
}
.header .nav a:hover{
	text-decoration: underline;
}
/*content container*/
.content-container{
	background-color: rgba(13,108,0,0.4);
	padding: 10px;	
}
.content{
	background-color: rgba(255,255,255,0.9);
	padding: 5px 10px 10px 10px;
}
.content .title{
	font-size: 1.8em;
	border-bottom: 1px solid #b3f3ab;
}
.content .body{
	padding: 3px 3px 8px 3px;
}
.content .body h2{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
}
.content .body p, .content .body ul{
	margin: 4px 0 16px 0;
}
.content p.center{
	text-align:center;
}
.content a{
	color: #139c01;
	text-decoration: none;
}
.content a:hover{
	text-decoration: underline;
}
.content .bold{
	font-weight: bold;
}
.content table.data{
	font-size: 11px;
	margin: 0px auto 10px auto;
	border: 1px solid #139C01;
	width: 99%;
	background-color: #b3f3ab;
}
.content table.data th{
	font-size: 13px;
	text-align: left;
	background-color: #14ac00;
	font-weight: bold;
}
.content table.data .aright{
	text-align: right;
}
/********************* story specific ********************/
.content .entry {
	margin: 4px;
	padding: 4px;
}
.entry .entry-headline{
	font-size: 1.1em;
	font-weight: bold;
}
.entry .entry-snippet{
	padding: 0 4px;
	
}