{% extends "base.html" %}

{% block headline %}pages on mkomo.com{% endblock %}

{% block content %}
	<div><a href="/admin/pages/edit">add a new page</a></div>
	<table>
	{% for page in pages %}
	    <tr>
	    	<td>{{ page.uri }}</td>
	    	<td>
		    	<a href="/admin/pages/edit?key={{ page.key }}">[edit]</a>
		    	<a href="/admin/pages/delete?key={{ page.key }}"
		    		onclick="return confirm('are you sure?')">[delete]</a>
		    	<a href="{{ page.uri }}">[go]</a>
		    </td>
	    </tr>
	{% endfor %}
	</table>
{% endblock %}
