{% extends "base.html" %}

{% block headline %}{{ list.headline }}{% endblock %}

{% block content %}
	{% if pages %}
	    {% for page in pages %}
			<div class="entry">
				<div class="entry-headline">
					{% if page.uri %} 
						<a href="{{ page.uri }}">{{ page.headline }}</a>
					{% else %}
						{{ page.headline }}
					{% endif %}
				</div>
				<div class="entry-snippet">
					{% if page.snippet %} 
						{{ page.snippet }}
					{% else %}
						{{ page.content }}
					{% endif %}
				</div> 
			</div>
		{% endfor %}
	{% else %}
		<p>there's nothing here yet.</p>
	{% endif %}
{% endblock %}
