{% extends "base.html" %}

{% block head_supplement %}
<style>
.edit-object th{
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}
.edit-object input{
	border: 1px solid #14AC00;
	width: 400px;
}
.edit-object textarea{
	border: 1px solid #14AC00;
	height: 400px;
	width: 850px;
}
</style>
{% endblock %}

{% block container_type %}dynamic-width{% endblock %}

{% block headline %}
	edit {{identifier}}
{% endblock %}

{% block content %}

	{% if object.is_saved %}
		<div>last updated: {{object.date_last_edited|date:"r"|lower}}</div>
	{% endif %}
	<form method="post">
		<table class="edit-object">
		{{object_form}}
		</table>
		{% if object.is_saved %}
		<input type="hidden" name="key" value="{{ object.key }}"/>
		{% endif %}
		<input type="submit" value="save object"/>
	</form>
{% endblock %}
