{% extends "base.html" %}

{% ifequal page.title None %}
	{% block title %}matt komorowski - {{page.title}}{% endblock %}
{% endifequal %}

{% ifequal page.description None %}
	{% block description %}{{page.description}}{% endblock %}
{% endifequal %}

{% ifequal page.keywords None %}
	{% block keywords %}{{page.keywords}}{% endblock %}
{% endifequal %}

{% block headline %}{{page.headline}}{% endblock %}

{% block content %}
	{% if not page.is_public %}
		<div class="failure-message">This page is not public</div>
	{% endif %}
	{{page.content}}
{% endblock %}

{% block footer %}
{% endblock %}