{% extends "base.html" %}

{% block headline %}{{ list.headline }}{% endblock %}

{% block content %}
	{% if pages %}
	    {% for page in pages %}
			<div class="entry">
				{% if page.date %}
					<div class="entry-date">{{ page.date }}</div>
				{% endif %}
				<div class="entry-headline">
					{% if page.uri %}
						<a href="{{ page.uri }}">{{ page.headline }}</a>
					{% else %}
						{{ page.headline }}
					{% endif %}
				</div>
				<div class="entry-snippet">
					{% if page.get_snippet %}
						{{ page.get_snippet|safe }}
						{% if page.uri %}
							{% if request.path not in page.uri %}
								<a class="tout" href="{{ page.uri }}">[read&nbsp;more]</a>
							{% else %}
								<a class="tout" href="{{ page.uri }}">[permalink]</a>
							{% endif %}
						{% endif %}
					{% else %}
						{{ page.content|safe }}
					{% endif %}
					<div class="clear"></div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>there's nothing here yet.</p>
	{% endif %}
{% endblock %}
