{% extends "base.html" %}

{% block title %}{{page.title|default_if_none:page.headline|add:" - matt komorowski"}}{% endblock %}

{% block description %}{{page.description|default_if_none:page.headline}}{% endblock %}

{% block keywords %}{{page.keywords|default_if_none:"matt komorowski, matthew komorowski"}}{% endblock %}

{% block headline %}{{page.headline}}{% endblock %}

{% block content %}
	{% if not page.static and not page.is_public %}
		<div class="failure-message">This page is not public</div>
	{% endif %}
	{{page.content|safe}}
{% endblock %}

{% block footer %}
{% endblock %}
